{% extends "App/base.html" %}

{%block body%}
<h2 style="color:#FFCBC4">Recommendations for you</h2>
<div class="container">
<!-- <h2>Carousel Example</h2>   -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Movie list -->
      {% if search %}
      {% for movie in search %}
          <div class="col-sm-2 col-md-2 ">
              <div class="thumbnail">
                  <a href="{{movie.title}}">
                      <img src="{{movie.href}}" class="img-responsive" width="500" height="600" title="{{movie.title}}">
                  </a>
              </div>
          </div>
      {% endfor %}
      {% endif %}
  </div>
</div>
{%endblock%}

